<div *ngIf="loading$ | async">Loading...</div>
<div *ngIf="error$ | async as error">An error occurred: {{ error }}</div>
<ul *ngIf="queueMessages$ | async as queueMessages">
  <li *ngFor="let queueMessage of queueMessages">{{ queueMessage.message }}</li>
</ul>

<div *ngIf="request$ | async as r" >{{r}}</div>

<button (click)="publishMessage();">
  Test
</button>
